header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('https://www.transparenttextures.com/patterns/buried.png');
  background-color: #72b577;
  height: 461px;
  padding-top: 150px;
  
}

header img {
  margin: 0;
  border-radius: 10px;
}

header h2 {
  font-size: 1em;
  color: white;
  text-align: center; 
  margin-top: 15px; 
}