nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em; /* 1.5ems of space on the right and left */
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

nav span {
  font-family: 'Bungee', sans-serif; /* Apply Bungee font to the span within nav */
}

nav a.write-tweet-button {
  color: #FFFFFF; /* Font color */
  background-color: #4056A1; /* Background color */
  padding: 5px 10px; /* Adjust padding as needed */
  margin-right: 20px; /* Create space between the button and the right edge of the nav */
  text-decoration: none; /* Remove underlines for anchor link */
  border-radius: 5px; /* Add rounded corners for the button */
  font-size: inherit;
}

nav a.write-tweet-button:hover {
  background-color: #4056A1; /* Change background color on hover */
  color: #FFFFFF; /* Change font color on hover */

}

nav .fa-angles-down {
    margin-bottom: 10px;
    color: red;
    font-size: inherit;
}

.button-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


