nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  background-image: url('https://www.transparenttextures.com/patterns/buried.png');
  color: #FFFFFF;
  padding: 0 1.5em;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

nav span {
  font-family: 'Bungee', sans-serif; /* Apply Bungee font to the span within nav */
}

nav a.write-tweet-button {
  color: #4056A1; /* Font color */
  background-color: #FFFFFF; /* Background color */
  padding: 5px 10px; /* Adjust padding as needed */
  margin-right: 20px; /* Create space between the button and the right edge of the nav */
  text-decoration: none; /* Remove underlines for anchor link */
  border-radius: 5px; /* Add rounded corners for the button */
  font-size: inherit;
}

nav a.write-tweet-button:hover {
  background-color: #40a140; /* Change background color on hover */
  color: #FFFFFF; /* Change font color on hover */ 

}


.fa-angles-down {
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
  color: red;
  align-items: center;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
} 

.button-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


