.container {
  background-image: url('https://www.transparenttextures.com/patterns/dark-stripes-light.png');
  background-color: #90e7e8;
  width: 100%;
}

.error-container {
  display: none;
  border: 5px solid #ff0000;
  background-image: url('https://www.transparenttextures.com/patterns/dark-stripes-light.png');
  background-color: #90e7e8;
  border-radius: 5px;
}

.error-message {
  color: #ff0000;
}

.new-tweet {
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.new-tweet textarea {
  background-image: url('https://www.transparenttextures.com/patterns/dark-stripes-light.png');
  background-color: #90e7e8;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 5px solid #000;
  border-radius: 0;
  outline: none;
}

.new-tweet textarea::placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-style: bold;
}

.new-tweet .button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.new-tweet button {
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Bungee', sans-serif;
}


.new-tweet button:hover {
  background-color: #344e914c;
}

.new-tweet .counter {
  font-size: 35px;
  color: #000000;
  font-family: 'Bungee', sans-serif;
}

.new-tweet .counter.negative {
  color: red;
}

