body {
  font-size: 16px;
}

.container {
  padding: 120px 15px;
}

/* Starting from larger screens (e.g., desktops) */
@media (min-width: 1024px) {
  .container {
    display: flex;
    gap: 10px;
    padding-top: 120px;
  }

  header {
    flex: 1 0 25%;
    border-radius: 1px;
  }

  .content {
    flex: 2 0 75%;
  }
}

