/* Regular state styles */
.tweet {
  background-color: #ffffff;
  background-image: url('https://www.transparenttextures.com/patterns/dark-stripes-light.png');
  border: solid #000000;
  padding: 15px;
  margin: 10px;
  transition: box-shadow 0.2s;
}

.tweet:hover {
  box-shadow: 0 0 5px 5px rgba(42, 4, 149, 0.4);
}

.tweet header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-image: url('https://www.transparenttextures.com/patterns/dark-stripes-light.png');
  background-color: #ffffff;
  flex-direction: row;
  height: 100px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  color: #000000;
}

.user-handle {
  color: #888;
  margin-left: auto;
  margin-right: 10px;
  
}

.tweet-content {
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.7);
  border: none;
  border-bottom: 5px solid #000;
  border-radius: 1px;
  outline: none;
  word-wrap: break-word;
}

.icons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Regular state styles for icons */
.icons i {
  margin-right: 10px;
  font-size: 18px;
  color: #888;
  cursor: pointer;
  transition: color 0.2s;
}

/* Hover state for individual icons (specific selector) */
.icons i:hover {
  color: #00f304;
}


/* Regular state of the tweet footer */
article.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #657786;
  padding: 8px;
}

article.tweet footer .timestamp {
  margin-right: auto;
}

article.tweet footer .icons {
  display: flex;
  gap: 10px;
}

/* Hover state of the tweet footer */
article.tweet:hover footer {
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
}